DirectoryIndex index.html index.php
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L]

<IfModule authnz_external_module>
	AuthType Basic
	AuthName fake-protected
	AuthBasicProvider external
	AuthExternal fake
	Require valid-user
</IfModule>
